<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.currencyexchange/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.currencyexchange.view.user/UserListView.title"/>
        <item view="Currencies.list"
              title="msg://com.company.currencyexchange.view.currencies/currenciesListView.title"/>
        <item view="ExchangeRates.list"
              title="msg://com.company.currencyexchange.view.exchangerates/exchangeRatesListView.title"/>
        <item view="CurrencyConverter"
              title="msg://com.company.currencyexchange.view.currencyconverter/currencyConverter.title"/>

    </menu>

</menu-config>